.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    min-height: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/hero-img/header-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section-title-hero {
    font-size: 44px;
    font-weight: 900;


    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    letter-spacing: 0.06em;

    margin-top: 0px;
    margin-bottom: 30px;

    color: $secondary-background-color;


}