// .hero {
//     padding-top: 200px;
//     padding-bottom: 200px;
//     max-width: 1600px;
//     min-height: 600px;
//     text-align: center;
//     margin-left: auto;
//     margin-right: auto;
//     background-color: #000000;
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(../image/hero-img/header-img.jpg);
//     background-repeat: no-repeat;
//     background-position: center;
// }
.hero {
    
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;


    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/hero-img/header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    @media screen and (min-width: 768px){
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/hero-img/header-tablet.jpg);
    }
     @media screen and (min-width: 1200px) {
         background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
             url(../image/hero-img/header-desktop.jpg);
     }
   
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
screen and (min-resolution: 192dpi) and (min-width: 320px),
screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .hero {
        background-image: 
        linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/hero-img/header-mobile@2x.jpg);
    }

}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image:
            linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../image/hero-img/header-tablet@2x.jpg);
    }

}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image:
            linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../image/hero-img/header-desktop@2x.jpg);
    }

}

.section-title-hero   {
    margin-top: 0;
    margin-bottom: 30px;
 
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
    @media screen and (min-width:1200px) {
        font-size: 44px;
        line-height: 1.363;

     }

}

// .section-title-hero {
//     font-size: 44px;
//     font-weight: 900;


//     font-style: normal;
//     text-transform: uppercase;
//     text-align: center;
//     line-height: 60px;
//     letter-spacing: 0.06em;

//     margin-top: 0px;
//     margin-bottom: 30px;

//     color: $secondary-background-color;


// }