@media screen and (max-width:1199px){
    .receprion {
        display: none;
    }
}

.section {
    &.receprion {
        width: 1170px;
        padding-top: 0px;
        padding-bottom: 94px;
        margin: 0 auto;

    }
    
}


.receprion__section-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 0;
    margin-bottom: 50px;

    color: #212121;

}
.receprion__list {
        display: flex;

    }

    .receprion__list--item {
        display: flex;
        margin-top: 0px;
        margin-bottom: 0px;

        margin-left: auto;
        margin-right: auto;

    }

    .receprion__list--item:not(:last-child) {
        margin-right: 30px;

    }

    .aside-img-thumb {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aside-img-text-thumb {
        position: absolute;
        width: 100%;
        height: 70px;
        padding-top: 27px;
        bottom: 0;
        left: 0;
        background-color: $background-color-aside;

        cursor: pointer;
    }
    .aside-img-text {
        margin: 0;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $primary-white-color;

    }
