.icon-antenna {
    &::before {
            background-image: url(../image/aside/antenna1.svg);
            background-size: 70px;

    }

}

.icon-clock {
    &::before {
            background-image: url(../image/aside/clock1.svg);
            background-size: 70px;
    }

}

.icon-diagram {
    &::before {
            background-image: url(../image/aside/diagram1.svg);
            background-size: 70px;
    }


}

.icon-astronaut {
    &::before {
            background-image: url(../image/aside/astronaut1.svg);
            background-size: 70px;
    }

    
}