

.logo {
    color: $primary-text-color;
    font-family: Raleway;

    font-size: 26px;
    font-weight: 700;
    font-style: normal;
    line-height: .838;
    letter-spacing: 0.03em;
    padding-bottom: 32px;


}

.logo-accent {
    color: $accent-color;
}
.container{
    &.footer .logo {
        color: $primary-white-color;
    }
    

}

