.header .address {
    margin-left: auto;
    margin-right: 30px;

}

.nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
}

.header .logo {
    margin-right: 94px;
}

.site-list-item:not(:last-child) {
    margin-right: 50px;
}

.section-aside-list:not(:last-child) {
    margin-right: 30px;
}



.adress-icon {
    fill: $adress-icon;
    margin-right: 10px;
}

.address-tel:hover .adress-icon,
.address-tel:focus .adress-icon,
.address-mail:hover .adress-icon,
.address-mail:focus .adress-icon {
    fill: $accent-color;
}
.address-mail,
.address-tel {
    display: inline-block;
    padding-bottom: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;


    color: $adress-icon;
}

.site-nav-link {
    display: inline-block;
    padding-bottom: 32px;
    margin: 0;
    color: $primary-text-color;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: .875;
    letter-spacing: 0.02em;

}


.address-mail+.address-tel {
    margin-left: 30px;
}


.site-nav-link {
    &:focus {
        color: $accent-color;
        transition: color $transition-duration250 $timing-function;
    }
    &:hover {
        color: $accent-color;
        transition: color $transition-duration250 $timing-function;
    }
}
.address-mail{
    &:focus {
        color: $accent-color;
        transition: color $transition-duration250 $timing-function;
    }
    &:hover {
        color: $accent-color;
        transition: color $transition-duration250 $timing-function;
    }
}
.address-tel {
    &:focus {
        color: $accent-color;
        transition: color $transition-duration250 $timing-function;

    }
    &:hover {
        color: $accent-color;
        transition: color $transition-duration250 $timing-function;

    }
    
}

.site-nav  { 
    & .site-nav-link.current {
        position: relative;
        color: $accent-color;
    }
    

}

.site-nav-link {
    &.current::after {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            margin: 0;
            left: 0;
            bottom: 0;
            border-radius: 2px;


            background-color: $accent-color;
    }



}